* {
    font-family: 'Montserrat', sans-serif;
}

.header__title {
    text-transform: uppercase;
}

.card {
    border: 0;
}

@media (min-width: 575px) {
    .card:first-child .card-body {
        padding-left: 0;
    }
    
    .card:last-child .card-body {
        padding-right: 0;
    }
}

.lang-panel {
    padding: 12px 12px 8px;
    text-align: end;
}

/********* ABOUT START ************/

.about {
    margin: 15px 0;
}

.about .container {
    display: flex;
    justify-content: center;
}

.text__about {
    background-color: #E6D8D7;
}

.btn__about a {
    color: black;
    margin: 8px;
}

.btn__about a:hover {
    color:#E6D8D7;
}

/********* ABOUT END ************/

.img__donation {
    height: 50px;
    width: 165px;
    margin-bottom: 10px;
}

/* кнопки в контактах */
.btn__wa,
.btn__tg, 
.btn__mail {
    margin: 6px;
}
